# This is the CODEOWNERS file.
# For understanding CODEOWNERS, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners
*  @sebbader-sap @BirgitBoss @aorzelskiGH @alexgordtop @mjacoby @danielporta @g1zzm0 @getag @waltersve @zrgt @aaronzi @whamm86 @mdanish98
