openapi: 3.0.3
info:
  title: DotAAS Part 2 | HTTP/REST | Discovery Service Specification
  description: |-
    The READ Profile of the Discovery Service Specification as part of the [Specification of the Asset Administration Shell: Part 2](https://industrialdigitaltwin.org/en/content-hub/aasspecifications).  
    Copyright: Industrial Digital Twin Association (IDTA) 2025
  contact:
    name: Industrial Digital Twin Association (IDTA)
    email: info@idtwin.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: V3.2.0_SSP-002
  x-profile-identifier: https://admin-shell.io/aas/API/3/2/DiscoveryServiceSpecification/SSP-002
servers:
  - url: https://admin-shell.io/api/v3/
  - url: https://example.com/
paths:
  /lookup/shellsByAssetLink:
    post:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Returns a list of Asset Administration Shell ids linked to specific Asset identifiers
      operationId: SearchAllAssetAdministrationShellIdsByAssetLink
      x-semanticIds:
        - https://admin-shell.io/aas/API/SearchAllAssetAdministrationShellIdsByAssetLink/3/2
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      requestBody:
        description: A list of specific Asset identifiers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetLink'
      responses:
        '200':
          description: Requested Asset Administration Shell ids
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResult'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: string
        '400':
          $ref: '#/components/responses/bad-request'
        default:
          $ref: '#/components/responses/default'
  /lookup/shells/{aasIdentifier}:
    parameters:
      - $ref: '#/components/parameters/AssetAdministrationShellIdentifier'
    get:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Returns a list of specific Asset identifiers based on an Asset Administration Shell id to edit discoverable content
      operationId: GetAllAssetLinksById
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAllAssetLinksById/3/2
      responses:
        '200':
          description: Requested specific Asset identifiers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpecificAssetId'
        '404':
          $ref: '#/components/responses/not-found'
        default:
          $ref: '#/components/responses/default'
  /description:
    get:
      tags:
        - Description API
      summary: Returns the self-describing information of a network resource (ServiceDescription)
      operationId: GetSelfDescription
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetSelfDescription/3/2
      responses:
        '200':
          description: Requested Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDescription'
        default:
          $ref: '#/components/responses/default'
components:
  parameters:
    Limit:
      name: limit
      in: query
      description: The maximum number of elements in the response array
      required: false
      schema:
        type: integer
        minimum: 1
    Cursor:
      name: cursor
      in: query
      description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
      required: false
      schema:
        type: string
    AssetAdministrationShellIdentifier:
      name: aasIdentifier
      in: path
      description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
      required: true
      style: simple
      explode: false
      schema:
        type: string
  schemas:
    AssetLink:
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
        value:
          type: string
          minLength: 1
          maxLength: 2048
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
      required:
        - name
        - value
    Message:
      properties:
        code:
          type: string
          maxLength: 32
          minLength: 1
        correlationId:
          type: string
          maxLength: 128
          minLength: 1
        messageType:
          enum:
            - Undefined
            - Info
            - Warning
            - Error
            - Exception
          type: string
        text:
          type: string
        timestamp:
          type: string
          pattern: ^-?(([1-9][0-9][0-9][0-9]+)|(0[0-9][0-9][0-9]))-((0[1-9])|(1[0-2]))-((0[1-9])|([12][0-9])|(3[01]))T(((([01][0-9])|(2[0-3])):[0-5][0-9]:([0-5][0-9])(\.[0-9]+)?)|24:00:00(\.0+)?)(Z|\+00:00|-00:00)$
      type: object
    Result:
      properties:
        messages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
      type: object
    PagedResult:
      type: object
      properties:
        paging_metadata:
          type: object
          properties:
            cursor:
              type: string
              example: wJlCDLIl6KTWypN7T6vc6nWEmEYe99Hjf1XY1xmqV-M=#
      required:
        - paging_metadata
    ReferenceTypes:
      type: string
      enum:
        - ExternalReference
        - ModelReference
    Reference:
      type: object
      required:
        - type
        - keys
      properties:
        type:
          $ref: '#/components/schemas/ReferenceTypes'
        referredSemanticId:
          $ref: '#/components/schemas/Reference'
        keys:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Key'
    KeyTypes:
      type: string
      enum:
        - AnnotatedRelationshipElement
        - AssetAdministrationShell
        - BasicEventElement
        - Blob
        - Capability
        - ConceptDescription
        - DataElement
        - Entity
        - EventElement
        - File
        - FragmentReference
        - GlobalReference
        - Identifiable
        - MultiLanguageProperty
        - Operation
        - Property
        - Range
        - Referable
        - ReferenceElement
        - RelationshipElement
        - Submodel
        - SubmodelElement
        - SubmodelElementCollection
        - SubmodelElementList
    Key:
      type: object
      required:
        - type
        - value
      properties:
        type:
          $ref: '#/components/schemas/KeyTypes'
        value:
          type: string
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          minLength: 1
          maxLength: 2048
    HasSemantics:
      type: object
      properties:
        semanticId:
          $ref: '#/components/schemas/Reference'
        supplementalSemanticIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Reference'
    SpecificAssetId:
      allOf:
        - $ref: '#/components/schemas/HasSemantics'
        - required:
            - name
            - value
          properties:
            name:
              type: string
              pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
              minLength: 1
              maxLength: 64
            value:
              type: string
              pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
              minLength: 1
              maxLength: 2048
            externalSubjectId:
              $ref: '#/components/schemas/Reference'
    ServiceDescription:
      description: The Description object enables servers to present their capabilities to the clients, in particular which profiles they implement. At least one defined profile is required. Additional, proprietary attributes might be included. Nevertheless, the server must not expect that a regular client understands them.
      example: |-
        {
          "profiles": [
            "https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-002",
            "https://admin-shell.io/aas/API/3/2/SubmodelRegistryServiceSpecification/SSP-002"
          ]
        }
      properties:
        profiles:
          type: array
          description: The list of profiles implemented by the server. The profiles are identified by their URI. Note that the list of example profiles is not exhaustive, but only includes the profiles defined in the current version of the specification. The server might also include proprietary profiles, which are not defined in the specification. Clients should be designed to ignore unknown profiles, but might use them to implement additional functionality if they are known.
          minItems: 1
          items:
            type: string
            example:
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/0/SubmodelServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/SubmodelServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/SubmodelServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/SubmodelServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/0/SubmodelServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/2/SubmodelServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/0/AasxFileServerServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/AasxFileServerServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/AasxFileServerServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/AasxFileServerServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/AasxFileServerServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-005
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRegistryServiceSpecification/SSP-005
              - https://admin-shell.io/aas/API/3/0/SubmodelRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/SubmodelRegistryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/SubmodelRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/SubmodelRegistryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/2/SubmodelRegistryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/2/SubmodelRegistryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/0/DiscoveryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/DiscoveryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/DiscoveryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/DiscoveryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/2/AssetAdministrationShellRepositoryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/0/SubmodelRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/SubmodelRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/0/SubmodelRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/SubmodelRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/0/SubmodelRepositoryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/2/SubmodelRepositoryServiceSpecification/SSP-003
              - https://admin-shell.io/aas/API/3/0/SubmodelRepositoryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/2/SubmodelRepositoryServiceSpecification/SSP-004
              - https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-005
              - https://admin-shell.io/aas/API/3/2/SubmodelRepositoryServiceSpecification/SSP-005
              - https://admin-shell.io/aas/API/3/0/ConceptDescriptionRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/ConceptDescriptionRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/2/ConceptDescriptionRepositoryServiceSpecification/SSP-001
              - https://admin-shell.io/aas/API/3/1/ConceptDescriptionRepositoryServiceSpecification/SSP-002
              - https://admin-shell.io/aas/API/3/2/ConceptDescriptionRepositoryServiceSpecification/SSP-002
      type: object
  responses:
    default:
      description: Default error handling for unmentioned status codes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    bad-request:
      description: Bad Request, e.g. the request parameters of the format of the request body is wrong.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    not-found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
