
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

/*body {
	background: #f2f2f2;
}*/

#toc.toc2 {
  background: #ffffff;
}

#toctitle {
  color: #0028CD;
}

/*Links*/
a {
  color: #0028CD;
}

a:hover, a:focus {
  color: #ff500f;
}

/*Details*/
#header .details {
  color: #ff500f;
}


/*Headers*/

#header > h1:first-child {
  color: #3149cc;
}
h1, h2, h3, .sidebarblock > .content > .title, h4, h5, h6 {
  color: #3149cc;
}
#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content > .title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
	color: #ff500f;
}

#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
	color: #3149cc;
	text-decoration: none;
}

.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
  color: #3149cc;
}

/*Tables*/
.table-with-appendix-table {
	margin-bottom: 0;
}

/*Header column*/
tbody tr th {
	background: #0028CD;
}
tbody tr th, tbody tr th p, tfoot tr th, tfoot tr th p {
	color: #ffffff;
}

/*Header row*/
table thead, table tfoot {
    background: #0028CD;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    color: #ffffff;
}

.exampleblock > .content {
	background: #e5f0f7;
	box-shadow: 0 1px 4px #e0e0dc;
}

#header, #content, #footnotes, #footer {
	margin-left: 0;
}

img {
  margin: auto;
  display: block;
}